*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body{
  width: 100%;
  font-family: "Source Sans Pro",Arial,sans-serif;
  overflow-x: hidden;
}

#main{
  width: 100vw;
  position: relative;
  background-color: rgb(114, 114, 114);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  padding: 50px 100px;
}

.pagechanges{
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.card{
  height: 30vh;
  width: 700px;
  /* background-color: blue; */
  position: relative;
  cursor: pointer;
}

.image{
  height: 400px; 
  width: 100%;
  object-fit: cover;
  border:  1px solid white;

}
.card-img-overlay{
  opacity: 0;
  transition-duration: .1s;
  background-color: rgba(0, 0, 0, 0.752);
  position: relative;
}
.card-img-overlay:hover{
  opacity: 1;
}
.card-img-overlay span{
  position: absolute;
  font-size: 25px;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
}
::-webkit-scrollbar{
  background-color: black;
  width: 5px;
}

::-webkit-scrollbar-thumb{
  background-color: rgb(83, 83, 83);
  width: 5px;

}
.button-1{
  padding: 15px 50px;
  border-radius: 10px;
  outline: none;
  border: none;
}
.button-2{
  padding: 15px 50px;
  border-radius: 10px;
  background-color: transparent;
}
button:hover{
  opacity: .8;
}
#loader{
  background-color: rgb(114, 114, 114);
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
}
#loader img{
  margin-top: 300px;
  height: 100px;
}
@media only screen and (max-width: 600px) {

  #main {
    width: 100vw;
    position: relative;
    background-color: rgb(114, 114, 114);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 30px 18px;
}
  .mybtn {
    padding-right: 1rem!important;
    padding-left: 1rem!important;
  }
  .button-2{
    padding: 15px 20px;
  }
  .button-1{
    padding: 15px 20px;
  }
  .image {
    height: 240px;
  }
  .pagechanges {
    padding: 0 5px;
    justify-content: space-between;
  }
}